/* Variables  */

:root {
  /* Gianelli's Below */
  --main-green: #008C45;
  /*--alt-green: #5ced73;*/
  --alt-green: rgb(0, 140, 69, .45);
  --main-red: #CD212A;

  /* FXO Inheritance Below */

  --main-cream: #f7f6f5;
  --main-gold: #f5df4d;
  --main-charcoal: #292929;
  --text-charcoal: rgba(0,0,0,.8);
  --text-black: rgba(0,0,0,.98);
  --text-gray: rgba(29,29,29,.90);
  --text-lightgray: rgba(29,29,29,.2);
  --text-white: #f7f6f5;
  --nav-overlay: rgba(0,0,0, 0.9);
  --button-gray: rgba(29,29,29,.8);
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* Box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base styles */

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Arial", "Helvetica", "sans-serif";
  color: var(--text-gray);
  font-weight: 400;
  font-style: normal;
  letter-spacing: .09rem;
  line-height: 2.1rem;
  font-variant: normal;
}

main {
  flex: 1 0 auto;
  margin: 0 5vw;
  padding-bottom: 2rem;
}

a {
  color: inherit;
}

a:hover {
  color: var(--main-green);
}

ul{
  list-style-type: none;
}

h1, h2, {
  color: var(--main-charcoal);
  font-size: 2.25rem;
  line-height: 3rem;
  padding-top: 1.5rem;
}

h3 {
  color: var(--text-gray);
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
}


/* Header */

header {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem 0rem 1.5rem;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

#logo-container {
  height: 100%;
  display: flex;
  align-items: end;
}

.logo-header {
  height: 8rem;
}

/* Nav, Mobile First w/ JavaScript overlay container. */
/* See media calls for responsive styling for large screens.*/

.overlay, #order-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.6);
}

#navigation-stack, #order-stack {
  position: relative;
  background-color: white;
  top: 0%;
  height: 100%;
  text-align: center;
  padding-top: 5rem;
}


#navigation-stack ul, #order-stack ul {
  display: flex;
  flex-direction: column;
}


.order-link, .navigation-link {
  width: 300px;
}

.order-link {
  margin: 2rem auto 0 auto;
  padding: 1.6rem;
  border: 1px solid #959595;
  border-radius: 5px;
}

.order-link a{
  text-decoration: none;
  color: var(--main-charcoal);
  display: flex;
  justify-content: space-between;
}

.order-link img{
  width: 7.2rem;
}

.order-stack-title{
  color: var(--text-black);
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.order-link-text{
  display: flex;
  align-items: center;
}

.order-link-text p{
  width: 12rem;
  text-align: start;
  vertical-align: bottom;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -.15px;

}

.order-link-arrow {
  display: flex;
  align-items: center;
}

.order-link-arrow img{
  color: var(--main-charcoal);
  height: 24px;
  width: 24px;

}

#order-stack-close, #navigation-stack-close {
  position: absolute;
  text-decoration: none;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  line-height: 2rem;
  padding: 0;
  margin: 0;
}


.fa-bars {
  background: none;
  text-decoration: none;
  font-size: 3.5rem;
  line-height: 4rem;
  margin-top: .5rem;
  padding: 0;
  display: block;
}

.navigation-link {
  /*Styles Hamburger Menu*/
  background: none;
  text-align: start;
  font-size: 2.5rem;
  padding-top: 1.5rem;
  font-weight: 700;
  letter-spacing: -.15px;
  padding-left: 3rem;
  display: block;
}

.navigation-link a{
  text-decoration: none;
}



.navigation-link:hover, #ui-cluster span:hover, .order-link:hover{
    -webkit-transform: translate(0px,-3px);
    transform: translate(0px,-3px);
}



#ui-cluster{
  display: flex;
  align-items: flex-end;
}

.fa-bars {
  color: var(--main-green);
  padding: 0 1rem;
  font-size: 2rem;
}

/* Order Button */
.button {
  background: var(--alt-green);
  color: var(--main-charcoal);
  border-radius: 5px;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 2.75rem 0 0 1rem;
  font-size: 1.75rem;
  display: inline-block;
  transition: all ease-in-out 300ms;
}

.button:hover {
  webkit-transform: translate(0px,-5px);
  transform: translate(0px,-5px);
}


/* Main */

/* Visual Line Breaks */


.divide {
  margin: 1rem auto;
  border-bottom: .1rem solid var(--main-green);
  width: 100%;
}


/* Sections */

.standard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3rem;
}

.section-block-image {
  margin-top: 1.5rem;
  width: 100%;
  align-self: start;
}

.menu-image {
  border: 3px solid black;
  padding: .75rem;
}

.section-block-information {
  margin: 0 auto;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
}

.section-block-image, .section-block-information {
  width: 100%;
  max-width: 70rem;
}

.visible-section-title{
  color: var(--text-charcoal);
  font-family: "Alfa Slab One", serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
  margin-top: 3rem;
  border-top: 2px solid var(--text-charcoal);
  border-bottom: 2px solid var(--text-charcoal);
}

.section-block-title, .section-block-hours-title {
  color: var(--text-charcoal);
  font-family: "Alfa Slab One", serif;
  font-size: 2.5rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;
}

.section-block-body {
  font-size: 1.5rem;
}

.section-block-hours{
  padding: 1rem;
  border: 2px solid var(--text-charcoal);
  margin-bottom: 3rem;
  max-height: 125px;
}

.section-block-hours-title {
  text-align: center;
  width: 35rem;
}

.section-block-hours-body {
  display: flex;
  justify-content: space-between;
}
.section-block-hours-body p{
  display: inline-block;
  font-weight: bold;
  font-size: 1.75rem;
  width: 170px;
  padding-top: .5rem;
}


.location-map {
  width: 35rem;
  height: 30rem;
}


iframe {
  display: block;
  margin: 0 auto;
}


/* Footer */

footer {

  /*background-color: #f7f6f5;*/
  /*background-color: rgb(0, 140, 69, .20);*/
  margin-top: 1.25rem;
  padding-top: 2rem;
  line-height: 2rem;
  font-size: 1.75rem;
}

.footer-link-container{
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 4rem;
  border-top: 2px solid var(--text-lightgray);
  padding-bottom: 3rem;
  max-width: 750px;
}

.footer-link-title {
  color: var(--main-charcoal);
  font-size: 1.75rem;
  font-family: "Special Elite", Courier, monospace;
  padding: 1rem 0;
}


.footer-link:link, .footer-link:visited, .footer-address {
  color: var(--main-charcoal);
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-decoration: none;
}




/* Responsive Screen Breaks */

@media screen and (min-width: 450px) {

  /* Header */

  header{
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .logo-header {
    height: 11rem;
  }

  /* Sections */

  .page-block {
    max-width: 100rem;
    padding: 1rem;
    margin: 0 1rem;
  }

  /* Footer */

  .footer-link-container{
    padding-left: 0;
    width: 95vw;
    max-width: 75rem;

  }

  .footer-link-title{
    font-size: 2rem;
  }

  .footer-link:link, .footer-address {
    font-family: "Arial", "Helvetica", "sans-serif";
    line-height: 1.75rem;
    font-size: 1.5rem;
  }

  #watermark{
    height: 120px;
  }

  #footer-logo-container {
    width: 4.75rem;
    height: 6.25rem;
  }

  #footer-logo {
    height: 3.5rem;
  }


}



@media screen and (min-width: 550px){
  .location-map {
    width: 45rem;
    height: 40rem;
  }

}

@media screen and (min-width: 900px) {

  /*Nav styles for when displayed on wide screens w/o JavaScript overlay*/

  #navigation-stack {
    margin: 0;
    padding: 0;
    top: auto;
    width: auto;
    display: flex;
    align-items: flex-end;
  }

  #navigation-stack ul {
    flex-direction: row;

  }


  .fa-bars {
    display: none;
  }

  #navigation-stack-close {
    display: none;
  }

  .overlay{
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
    background-color: inherit;
  }

  .navigation-link {
    width: auto;
    color: var(--main-charcoal);
    padding: .8rem 1.75rem;
    font-size: 1.75rem;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0;




  }

  #order-stack {
    margin: 4rem auto;
    padding: 10rem 0;
    width: 600px;
    min-height: 600px;
  }

  /* Base Styles */
  .section-block-information {
    padding-top: 0;
  }




}


@media screen and (min-width: 1100px) {
  /* Sections */

  .section-block-image {
    max-width: 55rem;
  }

  .section-block-information {
    max-width: 40rem;
    padding-left: 5rem;
  }

  .section-block-hours {
    margin: auto 0;
  }

}

/* Class-based Style Stand Ins*/


.center {
  text-align: center;
}

.limit-width{
  max-width: 525px;
}

.indent {
  padding-left: 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-start{
  display: flex;
  align-items: flex-end;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.small-text {
  font-size: 1.1rem;
}


/* Accessability */

.sr-only {
  border: 0 !important;
  clip: rect(1px,1px,1px,1px) !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important; 
  position: absolute !important;
  padding: 0 !important;
  margin: -1px !important;
}

/*Border classes for element visualization during development.*/

.b-red{
  border: 3px solid red;
}
.b-orange{
  border: 3px solid orange;
}
.b-yellow{
  border: 3px solid yellow;
}
.b-green{
  border: 3px solid green;
}
.b-blue{
  border: 3px solid blue;
}
.b-purple{
  border: 3px solid purple;
}

.b-black{
  border: 3px solid black;
}
